<form action="/addcars" method="post">
<h1>Add Vehicle</h1>

Description: <input type="text" name="description">
<br>
Registration Number: <input type="text" name="regNumber">
<br>
<button type="submit">Add Vehicle</button>
</form>

<div class="center-container">
    <a href="/">Back To Home</a>
</div>
