<form action="/refuel" method="post">
<h1>Refuel Vehicle</h1>

VehicleId: <input type="text">
<br>
Litres: <input type="text">
<br>
Amount Paid: <input type="text">
<br>
Distance: <input type="text">

<p>Filled Up</p>
True<input type="radio" name="filledup" value="Yes">
False<input type="radio" name="filledup" value="No">
<br>

<button type="submit">Refuel</button>

</form>

<div class="center-container">
    <a href="/">Back To Home</a>
</div>
